#searchbox {
  border-radius: 24px;
}


.footer_container {
    position: relative;
    min-height: 60vh;
    max-height: 80vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: gray;
}